 <div>
  <div class="d-flex justify-content-evenly py-3">
    <% if score.nil? %>
      <div class="d-none"></div>
    <% else %>
      <%= image_tag 'little-stick.svg', class: "stick-bottom" %>
      <%= image_tag 'little-stick-top.svg', class: "stick-top" %>
      <figure class="progress-score-user">
        <figcaption style="--color: <%= color(score) %>"><%= score %></figcaption>
        <svg viewBox="0 0 63.6619772368 63.6619772368">
          <circle class="pie1" style="--c: <%= score %>; --m: <%= 100 - score %>; --color: <%= color(score) %>" cx="31.8309886184" cy="31.8309886184" r="15.9154943092"/>
        </svg>
      </figure>

      <div>
        <ul class="list-unstyled grade-scale-profile">
          <li>
            <% if note == 'A' %>
              <p><span class="grade-a">A</span> <i class="fa-solid fa-caret-left fa-xs grade-indicator"></i></p>
            <% else %>
              <p><span class="grade-a">A</span></p>
            <% end %>
          </li>
          <li>
            <% if note == 'B' %>
              <p><span class="grade-b">B</span> <i class="fa-solid fa-caret-left fa-xs grade-indicator"></i></p>
            <% else %>
              <p><span class="grade-b">B</span></p>
            <% end %>
          </li>
          <li>
            <% if note == 'C' %>
              <p><span class="grade-c">C</span> <i class="fa-solid fa-caret-left fa-xs grade-indicator"></i></p>
            <% else %>
              <p><span class="grade-c">C</span></p>
            <% end %>
          </li>
          <li>
            <% if note == 'D' %>
              <p><span class="grade-d">D</span> <i class="fa-solid fa-caret-left fa-xs grade-indicator"></i></p>
            <% else %>
              <p><span class="grade-d">D</span></p>
            <% end %>
          </li>
          <li>
            <% if note == 'E' %>
              <p><span class="grade-e">E</span><i class="fa-solid fa-caret-left fa-xs grade-indicator"></i></p>
            <% else %>
              <p><span class="grade-e">E</span></p>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<% unless export %>
  <p class="about-score">En savoir plus sur le <%= link_to 'score', about_path  %></p>
<% end %>

  <div class="motivation-speech" style="background-image: url(<%= image_path('shape-round.svg') %>)">
    <%= image_tag 'various_fruits.svg', class: 'pt-5' %>
    <div class="motivation-content">
      <% unless score.nil? %>
        <% if score < 20 %>
          <h6 class="comment-score">Aïe, allez on vous aide.</h6>
          <p>Voici les <%= link_to 'fruits et légumes', products_path, class: 'link-from-profile' %> du mois.
        <% elsif score >= 20 && score < 40%>
          <h6 class="comment-score">Encore un petit peu d'effort !</h6>
          <p>Suivez les fruits et légumes du mois <%= link_to 'ici', products_path, class: 'link-from-profile' %>.
        <% elsif score >= 40 && score < 60 %>
          <h6 class="comment-score">C'est de mieux en mieux !</h6>
          <p>Continuez sur cette lancée en vous aidant de notre <%= link_to 'guide', products_path, class: 'link-from-profile' %>.
        <% elsif score >= 60 && score < 80 %>
          <h6 class="comment-score">Bravo, vous êtes à quelques pas du but !</h6>
          <p>Aidez-vous de notre <%= link_to 'guide', products_path, class: 'link-from-profile' %> des produits du moment.
        <% elsif score <= 100 %>
          <h6 class="comment-score">Génial, vos petits gestes ont de grands impacts !</h6>
          <p>Surpassez vous encore, et aller voir les <%= link_to 'produits du mois', products_path, class: 'link-from-profile' %>. </p>
        <% end %>
      <% end %>
    </div>
  </div>


<% if current_user == @user && !export %>
  <% colors = ['#0B8790', '#90DBD0', '#FDCB44', '#FDB3A5', '#FC755D', '#FDE773'] %>
  <% unless user.follow_ups.nil? %>
    <div>
      <% @month_fo_product.each do |fo| %>
        <div class="card card-edit-follow-up my-3" style="border-color: <%= colors.sample.html_safe %>">
          <div class="d-flex justify-content-between">
            <div>
              <%= cl_image_tag fo.product.photo.key, :height=>300, :quality=>"auto:good", :width=>300, :crop=>"fill", overflow: 'hidden', class: 'card-image-follow-up' %>
            </div>

            <div class="d-flex justify-content-between flex-grow-1">
              <div class="follow-up-info">
              <h2 class="pt-3" style="color: <%= colors.sample.html_safe %>"><%= fo.product.name.titleize %></h2>
              <p class="add-date"><i>Ajouté le <span><%= (l fo.created_at, format: '%-d %B') %></span></i></p>
                <div class="d-grid info-product-fo">
                  <% if fo.product.season?(@month) %>
                    <p><span>Saison <i class="fa-solid fa-check fa-sm card-check"></i></span></p>
                  <% else  %>
                    <p><span>Saison <i class="fa-solid fa-xmark fa-sm card-cross"></i></span></p>
                  <% end %>

                  <% if fo.local %>
                    <p class="card-info-check"><span>Local <i class="fa-solid fa-check fa-sm card-check"></i></span></p>
                  <% else  %>
                    <p class="card-info-check"><span>Local <i class="fa-solid fa-xmark fa-sm card-cross"></i></span></p>
                  <% end %>

                  <% if fo.bio %>
                    <p class="card-info-check"><span>Bio <i class="fa-solid fa-check fa-sm card-check"></i></span></p>
                  <% else  %>
                    <p class="card-info-check"><span>Bio <i class="fa-solid fa-xmark fa-sm card-cross"></i></span></p>
                  <% end %>
                </div>
              </div>

              <div class="d-grid pt-3 pe-4">
                <!-- Button trigger modal -->
                <button type="button" class="btn button-edit-modal" data-bs-toggle="modal" data-bs-target="#exampleModal<%= fo.id %>">
                  <i class="fa-solid fa-pen-to-square fa-sm"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal<%= fo.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title modal-edit-title" id="exampleModalLabel" style="color: <%= colors.sample.html_safe %>"><%= fo.product.name.titleize %></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                        <%= simple_form_for fo do |f| %>
                          <div class="modal-body">
                            <div class="container">
                              <div class="h-100">
                                <% if fo.product.localable %>
                                  <%= f.input :local, as: :boolean, label: 'Votre produit est&nbsp<strong>français</strong>'.html_safe, input_html: { class: "toggle d-none", id: "product-local#{fo.id}" }, label_html: { for: "product-local#{fo.id}"} %>
                                <% else %>
                                  <%= f.input :local, as: :boolean, disabled: true, label: "Votre produit n'est pas&nbsp<strong>français</strong>".html_safe, input_html: { class: "toggle d-none"} %>
                                <% end %>
                                <%= f.input :bio, as: :boolean, label: 'Votre produit est&nbsp<strong>bio</strong>'.html_safe, input_html: { class: "toggle d-none", id: "product-bio#{fo.id}"}, label_html: { for: "product-bio#{fo.id}"} %>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <%= f.submit 'Enregistrer', class: 'btn btn-primary', style: 'color: white' %>
                          </div>
                        <% end %>
                    </div>
                  </div>
                </div>

                <%= link_to ('<i class="fa-solid fa-trash-can fa-sm"></i>').html_safe, follow_up_path(fo), data: { turbo_method: 'delete' }, class: 'button-delete-modal' %>

              </div>
            </div>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
