<div class="d-flex justify-content-evenly py-3">
    <% if score.nil? %>
      <div class="d-none"></div>
    <% else %>
      <div class="set-size charts-container">
        <div class="pie-wrapper progress-<%= score %> style-2">
          <span class="label"><%= score %><span class="smaller"></span></span>
            <div class="pie">
              <div class="left-side half-circle"></div>
              <div class="right-side half-circle"></div>
            </div>
          <div class="shadow"></div>
        </div>
      </div>

      <div>
        <ul class="list-unstyled grade-scale-profile">
          <li>
            <% if note == 'A' %>
              <p><span class="grade-a">A</span> <i class="fa-solid fa-caret-left fa-xs grade-indicator"></i></p>
            <% else %>
              <p><span class="grade-a">A</span></p>
            <% end %>
          </li>
          <li>
            <% if note == 'B' %>
              <p><span class="grade-b">B</span> <i class="fa-solid fa-caret-left fa-xs grade-indicator"></i></p>
            <% else %>
              <p><span class="grade-b">B</span></p>
            <% end %>
          </li>
          <li>
            <% if note == 'C' %>
              <p><span class="grade-c">C</span> <i class="fa-solid fa-caret-left fa-xs grade-indicator"></i></p>
            <% else %>
              <p><span class="grade-c">C</span></p>
            <% end %>
          </li>
          <li>
            <% if note == 'D' %>
              <p><span class="grade-d">D</span> <i class="fa-solid fa-caret-left fa-xs grade-indicator"></i></p>
            <% else %>
              <p><span class="grade-d">D</span></p>
            <% end %>
          </li>
          <li>
            <% if note == 'E' %>
              <p><span class="grade-e">E</span><i class="fa-solid fa-caret-left fa-xs grade-indicator"></i></p>
            <% else %>
              <p><span class="grade-e">E</span></p>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>


  </div>

  <% unless score.nil? %>
    <% if score < 20 %>
      <h6 class="comment-score">Aïe, allez on vous aide.</h6>
      <%= render 'shared/last_score', last: last, last_m: last_m %>
      <p>Voici les fruits et légumes du mois: <br><%= link_to ('<i class="fa-solid fa-seedling icon-link-score"></i>').html_safe, products_path %> !</p>
    <% elsif score >= 20 && score < 40%>
      <h6 class="comment-score">Encore un petit peu d'effort !</h6>
      <%= render 'shared/last_score', last: last, last_m: last_m %>
      <p>Suivez les fruits et légumes du mois ici: <br><br><%= link_to ('<i class="fa-solid fa-seedling icon-link-score"></i>').html_safe, products_path %></p>
    <% elsif score >= 40 && score < 60 %>
      <h6 class="comment-score">C'est de mieux en mieux !</h6>
      <%= render 'shared/last_score', last: last, last_m: last_m %>
      <p>Continuez sur cette lancée en vous aidant de notre guide: <br><br><%= link_to ('<i class="fa-solid fa-seedling icon-link-score"></i>').html_safe, products_path %></p>
    <% elsif score >= 60 && score < 80 %>
      <h6 class="comment-score">Bravo, vous êtes à quelques pas du but !</h6>
      <%= render 'shared/last_score', last: last, last_m: last_m %>
      <p>Aidez-vous de notre guide des produits du moment: <br><br><%= link_to ('<i class="fa-solid fa-seedling icon-link-score"></i>').html_safe, products_path %></p>
    <% elsif score <= 100 %>
      <h6 class="comment-score">Génial, vos petits gestes ont de grands impacts !</h6>
      <%= render 'shared/last_score', last: last, last_m: last_m %>
      <p>Surpassez vous encore, et aller voir les produits du mois: <br><br><%= link_to ('<i class="fa-solid fa-seedling icon-link-score"></i>').html_safe, products_path %></p>
    <% end %>
  <% end %>





  <div class='d-none'>
    <% month = Date.today.month %>
    <% month_fo_product = user.follow_ups.where(month_number: month) %>
    <% month_fo_product.each do |fo| %>
      <div class="card">
        <div class="d-flex justify-content-between">
          <div>
            <h2><%= fo.product.name.titleize %></h2>
            <p>Ajouté le <span><%= (l fo.created_at, format: '%-d %B') %></span></p>
          </div>

          <div class="d-flex justify-content-between flex-grow-1">
            <div>
              <% if fo.product.season?(month) %>
                <p>Season: Yes</p>
              <% else  %>
                <p>Season: No</p>
              <% end %>

              <% if fo.local %>
                <p>Local: Yes</p>
              <% else  %>
                <p>Local: No</p>
              <% end %>

              <% if fo.bio %>
                <p>Bio: Yes</p>
              <% else  %>
                <p>Bio: No</p>
              <% end %>
            </div>

            <div>
              <p>Edit</p>
              <p>Delete</p>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  </div>
