<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="background-image: url('<%= image_url('navbar-background.svg')%>');">
  <div class="container-fluid">
    <% if params[:action] == "home" || params[:action] == "export" %>
      <%= link_to "#", class: "navbar-brand" do %>
        Tutti Frutti <i class="fa-solid fa-seedling"></i>
      <% end %>
      <% elsif params[:action] != "export" %>
          <div class="navbar-brand">
            <div class="search-box-navbar" data-controller="search-button">
              <button name="button" class="btn-search-navbar" data-action = "click->search-button#displaySearchBar"><i class="fas fa-search"></i></button>
              <%= form_tag products_path, method: :get do |f| %>
                  <button name="button" type="submit" class="d-none" data-search-button-target="submit"><i class="fas fa-search"></i></button>
                  <%= text_field_tag :query, params[:query], data: { 'search-button-target' => 'input' }, class: "form-control string required input-search-navbar", id: "search_query", placeholder: "Fruit ou légume" %>
              <% end  %>
            </div>
          </div>
          <%= link_to home_path do %>
            <i class="fa-solid fa-seedling"></i>
          <% end  %>
      <% end %>
    <% if params[:action] != "export" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex flex-col align-items-end">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= link_to "Mon profil", profile_path(current_user), class: "dropdown-item" %>
            <%= link_to "Où acheter ?", map_path, class: "dropdown-item" %>
            <%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <%= link_to "Se connecter", new_user_session_path, class: "dropdown-item text-end" %>
            <%= link_to "Où acheter ?", map_path, class: "dropdown-item text-end"%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>

  <%#= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
  <%#= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <%# <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
  </div> %>
