<div class="container">
  <div class="search-bar-home my-4">
    <h2>Rechercher un fruit ou un légume</h2>
    <%= render "shared/search_form" %>
  </div>
  <%# ---------------------  ------------- %>
  <div class="monthly-product mt-5 mb-4">
    <h2>Les fruits et légumes de <%= @current_month %></h2>
    <%= render 'shared/carousel', products: @products %>
    </div>
  </div>
  <%# ---------------------  ------------- %>
  <div class="monthly-fact text-justify mt-5 mb-4 align-items-center">
    <h2>Pourquoi consommer de saison ?</h2>
    <p>Optez pour des fruits et légumes de saison afin de bénéficier de leurs <strong>bienfaits nutritionnels</strong>, <strong>réduire l'impact écologique</strong> et <strong>encourager les circuits courts</strong> au détriment des produits importés. </p>

  </div>
  <%# ---------------------  ------------- %>
  <div class="all-monthly-product mt-5 mb-3">
    <h2>Tous les fruits et légumes du moment</h2>
      <div class="justify-content-between mb-3">
        <div class="card-category mx-1 my-3" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_url('fruits.jpg')%>')">Fruits</div>

        <div class="card-category vegetables mx-1 my-3" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_url('vegetable.jpg')%>')">Légumes</div>
      </div>
  </div>
</div>
