<head>
  <title><% content_for :title, "Tutti Frutti - Les fruits et légumes de saison" %></title>
</head>
<div class="container" style="background-image: url('<%= image_url('shape.svg')%>'); background-repeat: no-repeat; background-position: left center;">
  <div class="search-bar-home my-4 text-center">
    <h2>Rechercher un fruit ou un légume</h2>
    <%= image_tag 'sprinkle-bottom.svg', class: "stick-carousel-bottom" %>
    <%= image_tag 'sprinkle-top.svg', class: "stick-carousel-top" %>
    <%= render "shared/search_form" %>
  </div>
  <%# ---------------------  ------------- %>
  <div class="monthly-product my-3">
    <h2 class="text-center">Les fruits et légumes de </h2>
    <h2 class="month-display text-center"><%= @current_month %></h2>
    <%= render 'shared/carousel', products: @products %>
  </div>
  <%# ---------------------  ------------- %>
  <div class="text-justify my-5 ms-3 align-items-justify highlight-title">
    <h6>Pourquoi<br> consommer de saison ?</h6>
    <p>Optez pour des fruits et légumes de saison afin de bénéficier de leurs <strong>bienfaits nutritionnels</strong>, <strong>réduire l'impact écologique</strong> et <strong>encourager les circuits courts</strong> au détriment des produits importés. </p>
  </div>
    <%# ---------------------  ------------- %>
  <div class="all-monthly-product my-3 text-center">
    <h2>Tous les fruits et légumes du moment</h2>
      <div class="d-flex justify-content-around my-5">
        <div class="flex-wrap illu-menu" style="flex-basis: 150px">
          <%= link_to products_path(fruits: true), class: 'category-link text-decoration-none d-block text-center my-3',style: 'font-size: 22px' do %>
            <%= image_tag 'illu-fruits.svg', height: 120 %>
            <%= image_tag 'underline.svg', class: "underline-left" %>
            <p>Fruits</p>
          <% end %>
        </div>

        <div class="flex-wrap illu-menu" style="flex-basis: 150px">
          <%= link_to products_path(legumes: true), class: 'category-link text-decoration-none d-block text-center my-3',style: 'font-size: 22px' do %>
            <%= image_tag 'illu_veges.svg', height: 120 %>
            <%= image_tag 'underline.svg', class: "underline-right" %>
            <p>Légumes</p>
          <% end %>
        </div>
      </div>
  </div>

</div>

<div class="text-justify mt-5 align-items-justify highlight-title-bis" style="background-image: url('<%= image_url('apple.svg')%>'); background-repeat: no-repeat;
    background-position: bottom right; margin-right: -15px;">
  <div class="text-justify mt-5 mx-3 align-items-justify highlight-title-bis" >
    <h6>Pourquoi<br> acheter local ?</h6>
    <p class="pb-5 mb-0">Privilégiez les circuits courts afin d’avoir moins d’impact polluant sur la planète. Où trouver des fruits et légumes locaux ? Dans les magasins bios ou en adhérant à des coopératives de produits bios et locaux.</p>
  </div>
</div>
