<div class="container">
  <div class="search-bar-home my-4">
    <h2>Rechercher un fruit ou un légume</h2>
    <%= render "shared/search_form" %>
  </div>
  <%# ---------------------  ------------- %>
  <div class="monthly-product mt-5 mb-4">
    <h2>Les fruits et légumes de <%= @current_month %></h2>
    <div class="swiper mySwiper mb-3" data-controller="swiper">
        <div class="swiper-wrapper">
        <% @products.each_with_index do |product, index| %>
          <div class="swiper-slide">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path product.photo.key, height: 300, crop: :fill %>')">
              <%= product.name.capitalize %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="swiper-button-next swiper-small"></div>
      <div class="swiper-button-prev swiper-small"></div>
    </div>
  </div>
  <%# ---------------------  ------------- %>
  <div class="monthly-fact d-flex text-center mt-5 mb-4 align-items-center">
    <p>En mai, on fête l'arrivée des fruits rouges, allez-y sans modération !</p>
    <%= image_tag('thumbstack.png') %>
  </div>
  <%# ---------------------  ------------- %>
  <div class="all-monthly-product mt-5 mb-4">
    <h2>Tous les fruits et légumes du moment !</h2>
      <div class="d-flex justify-content-between mb-3">
        <div class="card-category w-100 mx-1" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_url('fruits.jpg')%>')">Fruits</div>

        <div class="card-category vegetables w-100 mx-1" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_url('vegetable.jpg')%>')">Légumes</div>
      </div>
  </div>
</div>
