<title><% content_for :title, "Tutti Frutti - Les adresses où acheter de saison" %></title>

<div style="width: 100%; height: 100vh; margin-top: -40px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>


<!-- Modal -->
<% @stores['records'].each do |store| %>
  <div class="modal fade" id="store-modal-<%= store['recordid'] %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <% colors = ['#0B8790', '#90DBD0', '#FDCB44', '#FDB3A5', '#FC755D', '#FDE773'] %>
          <h5 class="modal-title" id="exampleModalLabel" style="color: <%= colors.sample.html_safe %>; font-weight: bold"><%= store['fields']['nom_du_commerce'].titleize %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-unstyled">
            <li><i class="fa-solid fa-basket-shopping pe-3 fa-sm font-icon-map"></i><%= store['fields']['type_de_commerce'].split.first %></li>
            <li><span><i class="fa-solid fa-location-dot pe-3 fa-sm font-icon-map"></i></span> <%= store['fields']['adresse'].titleize %>, <%= store['fields']['code_postal'] %></li>
            <% if  store['fields']['site_internet'] %>
              <li><i class="fa-solid fa-earth-europe pe-3 fa-sm font-icon-map"></i><strong><%= link_to store['fields']['nom_du_commerce'].titleize, store['fields']['site_internet'], target: '_blank', class: 'text-decoration-none' %></strong></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- End Modal -->
