<div class="container text-center py-3" style="overflow: hidden">
  <% if current_user == @user %>
    <h2 class="py-3">Bonjour <span class="user-name"><%= current_user.first_name %></span></h2>
  <% else %>
    <h2 class="py-3">Le profil de <span class="user-name"><%= @user.first_name %></span></h2>
  <% end %>

  <ul class="nav justify-content-around navbar-profile p-1" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link nav-link-profile <%= "active" if params[:tab] == "home" %>" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Score <%= @current_month %></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link nav-link-profile <%= "active" unless params[:tab] == "home" %>" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Score Global</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link nav-link-profile" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false"><%= image_tag 'group.svg' %></button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade  <%= "active show" if params[:tab] == "home" %>" id="home" role="tabpanel" aria-labelledby="home-tab">
      <% if @current_score.nil? %>
        <div class="motivation-speech mt-5" style="background-image: url(<%= image_path('shape-round.svg') %>)">
          <div class="motivation-content">
            <%= image_tag 'various_fruits.svg', class: 'pt-5' %>
            <h6 class="comment-score pt-3">Vous n'avez pas encore de suivi pour le mois de <%= @current_month %>.</h6>
            <p class="px-4">Commencez le dès maintenant en regardant les <%= link_to 'fruits et légumes', products_path %> du mois !</p>
          </div>
        </div>
      <% else %>
        <%= render 'shared/grades_month', score: @current_score, note: @current_note, last: @last_score, last_m: @last_month, user: @user, export: false %>
      <% end %>

    </div>

    <div class="tab-pane fade  <%= "active show" unless params[:tab] == "home" %>" id="contact" role="tabpanel" aria-labelledby="contact-tab">

      <% if @global_score.nil?%>
        <div class="motivation-speech mt-5" style="background-image: url(<%= image_path('shape-round.svg') %>)">
          <div class="motivation-content">
            <%= image_tag 'various_fruits.svg', class: 'pt-5' %>
            <h6 class="comment-score pt-3">Vous n'avez pas encore de suivi avec nous.</h6>
            <p class="px-4">Commencez le dès maintenant en regardant les <%= link_to 'fruits et légumes', products_path %> du mois !</p>
          </div>
        </div>
      <% else %>
        <%= render 'shared/grades_global', score: @global_score, note: @global_note %>
      <% end %>

    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" data-controller="search-users">
    <% if @user == current_user %>
      <%= simple_form_for add_friend_path, method: 'get', class: "form-inline" do %>
        <div id= "search-data" class="form-search search-data" data-users="<%= @users %>">
          <%= text_field_tag :q, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Ajouter un(e) ami(e)" %>
        </div>
      <% end %>
    <% end %>
      <div class="container mt-3">
        <div>
          <h3>Abonnés</h3>
          <div class="d-grid justify-content-center text-start">
            <% @followers.each do |follower| %>
              <%= link_to follower.asker.username, profile_path(follower.asker), class:"text-decoration-none text-danger" %>
            <% end %>
          </div>
        </div>
        <div class="mt-3">
          <h4>Abonnements</h4>
          <div class="d-grid justify-content-center text-start">
            <% @followings.each do |following| %>
              <%= link_to following.receiver.username, profile_path(following.receiver), class:"text-decoration-none text-danger"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
  <% unless @global_score.nil? || @current_score.nil? %>
    <%= link_to "https://api.apiflash.com/v1/urltoimage?access_key=55d811e6118440e2aab824cd32cc8f88&url=http%3A%2F%2Fwww.tutti-frutti.me%2Fexport%2F#{current_user.id}&width=426&height=926&full_page=true&quality=100", download: "Tutti-frutti-#{@current_month}.png" do %>
    <button class="btn btn-primary text-white mt-3">Partager mon profil</button>
  <% end %>

<% end %>
