<p>Global score</p>
<div class="container">
  <%= @global_score %>
  <%= @global_note %>
</div>

<br>

<p>Months of follow up</p>
<div class="container">
  <% current_user.follow_ups.each do |follow| %>
    <%= follow.month_number %>
  <% end %>
</div>

<br>

<p>Current month follow up</p>
<div class="container">
  <%= @current_score %>
  <%= @current_note %>
</div>


<div class="container">
<div class="set-size charts-container">

  <div class="pie-wrapper progress-<%= @global_score %> style-2">
    <span class="label"><%= @global_score %><span class="smaller"></span></span>
    <div class="pie">
      <div class="left-side half-circle"></div>
      <div class="right-side half-circle"></div>
    </div>
    <div class="shadow"></div>
  </div>

</div>
</div>
