<div class="container text-center py-3">
  <% if current_user == @user %>
    <h2>Bonjour <%= current_user.first_name %></h2>
  <% else %>
    <h2>Le profil de <%= @user.first_name %></h2>
  <% end %>

  <ul class="nav nav-tabs justify-content-around" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Score <%= @current_month %></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Score Global</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Amis</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">


    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
      <% if @current_score.nil? %>
        <div class="container">
          <h5 class="pt-3">Vous n'avez pas encore de <span class="title-score"><strong>tutti score</strong></span> pour le mois de <%= @current_month %> <i class="fa-solid fa-face-sad-tear fa-xs smile-title-profile"></i></h5>
          <br><p>Commencez dès maintenant votre suivi en suivant ce lien</p>
          <br><br><%= link_to ('<i class="fa-solid fa-seedling icon-link-score"></i>').html_safe, products_path %></p>
        </div>
      <% else %>
        <h5 class="pt-3"><%= @user == current_user ? "Votre" : "Son" %><span class="title-score"> <strong>tutti score</strong></span> du mois de <%= @current_month %></h5>
        <%= render 'shared/grades_month', score: @current_score, note: @current_note, last: @last_score, last_m: @last_month, user: current_user, export: false%>
      <% end %>

    </div>

    <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">

      <% if @global_score.nil?%>
        <div class="container">
          <h5 class="pt-3">Vous n'avez pas encore de <span class="title-score"><strong>tutti score</strong></span> <i class="fa-solid fa-face-sad-tear fa-xs smile-title-profile"></i></h5>
          <br><p>Commencez dès maintenant votre suivi en suivant ce lien</p>
          <br><br><%= link_to ('<i class="fa-solid fa-seedling icon-link-score"></i>').html_safe, products_path %></p>
        </div>
      <% else %>
        <h5 class="pt-3"><%= @user == current_user ? "Votre" : "Son" %> <span class="title-score"><strong>tutti score</strong></span> global</h5>
        <%= render 'shared/grades_global', score: @global_score, note: @global_note %>
      <% end %>

    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" data-controller="search-users">
    <% if @user == current_user %>
      <%= simple_form_for add_friend_path, method: 'get', class: "form-inline" do %>
        <div id= "search-data" class="form-search search-data" data-users="<%= @users %>">
          <%= text_field_tag :q, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Ajouter un(e) ami(e)" %>
        </div>
      <% end %>
    <% end %>
      <div class="container mt-3">
        <div>
          <h3>Abonnés</h3>
          <div class="d-grid justify-content-center text-start">
            <% @followers.each do |follower| %>
              <%= link_to follower.asker.username, profile_path(follower.asker), class:"text-decoration-none text-danger" %>
            <% end %>
          </div>
        </div>
        <div class="mt-3">
          <h4>Abonnements</h4>
          <div class="d-grid justify-content-center text-start">
            <% @followings.each do |following| %>
              <%= link_to following.receiver.username, profile_path(following.receiver), class:"text-decoration-none text-danger"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
