<div class="show-container" style="background-image: url('<%= image_url('shape.svg')%>'); background-repeat: no-repeat; background-position: left center;">
  <div class="card-product-title rounded d-flex flex-column align-items-center justify-content-start">
    <h1><strong><%= product.name.capitalize %></strong></h1>
      <div class="card-product-info">
        <% if product.season? Date.today.month + 48 %>
          <div class="card-product-info-season">
            <h3 class="text-justify">Disponible de <%=@month[(@product.start_month)%12]%> à <%= @month[(@product.end_month)%12]%></h3>
            <i class="fa-solid fa-check text-success" style="padding-left: 9px"></i>
          </div>
        <% else %>
          <div class="card-product-info-season">
            <h3 class="text-justify" style="color: #FC755D">Disponible de <%=@month[(@product.start_month)%12]%> à <%= @month[(@product.end_month)%12]%></h3>
            <i class="fa-solid fa-xmark text-danger" style="padding-left: 9px"></i>
          </div>
        <% end %>
    </div>


    <% joke_sentence = ['De rien, ça nous fait plaisir.', 'On vous voit sourire. On ferait pareil à votre place.', 'Oh yeah !', 'Mmmmh !', "C'est le moment de tester votre recette magique.", "C'est le moment de se faire plaisir."] %>
    <%# <h5 class="text-justify"> Disponible de =@month[(@product.start_month)%12] à = @month[(@product.end_month)%12]</h5> %>
    <% if @product.season? Date.today.month + 48 %>
      <p class="text-center"><%= joke_sentence.sample %></p>
    <% end %>

  </div>

  <div class="card-product m-3">
        <% if product.season? Date.today.month + 48 %>
          <div class="stamp-season"><p>De saison</p></div>
          <%= cl_image_tag product.photo.key, :quality=>"50", height: 300, width: 300, crop: :fill %>
        <% else %>
          <div class="stamp-not-season"><p>Pas de saison</p></div>
          <%= cl_image_tag product.photo.key, :quality=>"50", height: 300, width: 300, crop: :fill %>
        <% end %>
  </div>

  <div class="card-product-description">
    <p><%= @product.description %></p>
  </div>

  <div class="card-product-info">
    <div class="card-product-info-title border-bottom">
      <h5>Soyez précis</h4>
      <p>Cliquez pour sélectionner</p>
    </div>
  </div>
</div>


  <%# <% if @product.end_month + @product.start_month == 13  %>
    <%# <p>Super, vous pouvez en profiter toute l'année.</p> %>
  <%# <% elsif (@product.end_month - Time.now.month).abs %>
    <%# <p>Encore = (@product.end_month - Time.now.month).abs month pour en profiter.</p> %>
  <%# <% end %>
