<div class="container">
  <p><%= @product.name %></p>
  <p><%= @product.category.capitalize %></p>
  <p><%= @product.sub_category.capitalize %></p>
  <p><%= @product.description %></p>
  <%= Date.today.month %>
</div>
