<%= render 'product', product: @product %>

<div class="container p-3">
  <p><%= @product.sub_category.capitalize %></p>
  <p><%= @product.description %></p>
</div>

<div class="container">
  <%= simple_form_for [@product, @follow_up] do |f| %>
    <div class="d-flex justify-content-evenly">
      <%= f.input :local, as: :boolean, label: '&nbsp'.html_safe, input_html: { class: "toggle d-none" } %>
      <%= f.input :bio, as: :boolean, label: '&nbsp'.html_safe, input_html: { class: "toggle d-none"} %>
      <%= f.submit class:"d-block fixed-bottom w-100 btn btn-primary", value: "Ajouter à mon suivi "%>
    </div>
  <% end %>
</div>
