<div class="container" style="background-color: #fdcb46">


<%= render 'product', product: @product %>

<div class="container p-3">
<% joke_sentence = ['De rien, ça nous fait plaisir.', 'On vous voit sourire. On ferait pareil à votre place.', 'Oh yeah !', 'Mmmmh !', "C'est le moment de tester votre recette magique.", "C'est le moment de se faire plaisir."] %>
  <p> À déguster sans culpabilité de <%=@mois[(@product.start_month)%12]%> à <%= @mois[(@product.end_month)%12]%>. <%= joke_sentence.sample %></p>
  <p><%= @product.description %></p>

  <% if @product.end_month + @product.start_month == 13  %>
    <p>Super, vous pouvez en profiter toute l'année.</p>
  <% elsif (@product.end_month - Time.now.month).abs %>
    <p>Encore <%= (@product.end_month - Time.now.month).abs %> mois pour en profiter.</p>
  <% end %>

</div>

<div class="container">
  <h2>Préciser l’origine</h2>
</div>
  <%= simple_form_for [@product, @follow_up] do |f| %>
    <div class="container">
      <div class="d-flex justify-content-evenly h-100">
        <% if @product.localable %>
          <%= f.input :local, as: :boolean, label: '&nbsp'.html_safe, input_html: { class: "toggle d-none" }, label_html: {style: "background-image: url('#{image_url('france.svg')}'); background-position: center; background-size: 75%;"}  %>
        <% else %>
          <%= f.input :local, as: :boolean, disabled: true, label: '&nbsp'.html_safe, input_html: { class: "toggle d-none"}, label_html: {style: "background-image: url('#{image_url('france.svg')}'); background-position: center; background-size: 75%;"} %>
        <% end %>
        <%= f.input :bio, as: :boolean, label: '&nbsp'.html_safe, input_html: { class: "toggle d-none"}, label_html: {style: "background-image: url('#{image_url('bio3.png')}'); background-position: center; background-size: 75%;"} %>
      </div>
    </div>

  <div class="container">
    <h2>Des idees de recettes</h2>
    <% @recipes.each do |recipe| %>
      <div>
        <p>
          <%= recipe[:name] %>
          <%= recipe[:note] %>
        </p>
      </div>
    <% end %>
  </div>

<div class="container">
  <% if @product.season?(Time.now.month) %>
    <h2>Cela pourrait vous plaire </h2>
    <div class="container w-75">
      <%= render 'shared/carousel', products: @alternatives %>
    </div>
  <% else %>
    <h2>Découvrez les alternatives </h2>
    <div class="container w-75">
      <%= render 'shared/carousel', products: @alternatives %>
    </div>
  <% end %>
</div>

    <div style="margin-top: 150px"></div>
    <div class="d-flex">
      <%= f.submit class:"btn-bot btn-block fixed-bottom w-100 btn-lg btn-primary rounded-0", value: "Ajouter à mon suivi "%>
    </div>
  <% end %>

</div>
